
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/node_modules/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
/src/Infrastructure/Data/client_secret_64541087361-d3pcqj5eppaadqe2c8dgi9046032t114.apps.googleusercontent.com.json
